* {margin: 0; padding: 0;}
body {
    background-image: url("../pics/fon.jpeg");

}

.nameGame {
    font-family: 'Alfa Slab One', cursive;
    padding-left: 40%;
    font-size: 60px;
    color: rgb(230, 0, 255);
}

a {
    text-decoration: none;
}

.nameGame:hover {
    filter: grayscale(0);
    transform: 0.3s;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
        0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);

}

.content {
    display: flex;
    margin: 250px 50px 50px 50px;
    font-family: sans-serif;
}

#area {
    width: 156px;
    border: 1px solid #000;
    margin: 0 auto;
    font-size: 0;
}

.cell {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    border: 1px solid #000;
    cursor: pointer;
    vertical-align: middle;
    transition: background .1s;
    background-color: rgba(0, 0, 255, 0.629);
}

.cell:hover {
    background-color:#ffff00;
}

.currentPlayer {
    width: 200px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.stat {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.stat table {
    border-collapse: collapse;
}

.stat table, .stat th, .stat td {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
}

.text {
    color: rgba(0, 0, 0, 0.895);
    font-family: 'Rubik Dirt', cursive;

}

.textX {
    color: red;
    font-size: 35px;
    margin-left: 10px;
}

.github {
    font-family: 'Caveat', cursive;
    font-size: 50px;

}

footer {
    padding-top: 15%;
}